extends layout

block content
  #page(data-role="page")
    #content(data-role="content")
      #header(data-role="header")
        h1#title Wind Chill Factor
        #temperatureBox
          #effective
            span#effective_temp 
            br
            span#effective_label effective
          #weather
            img#weather_icon(width="72dpx")
          #below
            #temperature
              span.label Temp:
              br
              span#temperature_value 
            #windspeed
              span.label Wind speed:
              br
              span#windspeed_value 

      #location
        #location_text
          p
            | Your position:
            br
            | Latitude:
            span#lat
            br
            | Longitude:
            span#long
        #basicMap

    //- script(src="openlayers/OpenLayers.js")
    //- script(src="js/jquery-1.7.1.min.js")
