<div class="windchill jumbotron">
  <div class="temperature-box">
    <div class="effective">
      <span class="{{weather.windchill.value<0?'cold':'warm'}}">{{weather.windchill.value.toFixed(1)}}&deg;</span>
      <br>
      <span class="effective-label">effective</span>
    </div>
    <div class="weather">
      <img src="{{'http://api.yr.no/weatherapi/weathericon/1.1/?symbol=' + weather.weatherIcon.number + '&content_type=image/png'}}" width="72dpx">
    </div>
    <div class="below">
      <div class="temperature">
        <span class="weather-label">Temp:</span>
        <br>
        <span class="{{weather.temperature.value<0?'cold':'warm'}}">{{weather.temperature.value}}&deg;</span>
      </div>
      <div class="windspeed">
        <span class="weather-label">Wind speed:</span>
        <br>
        <span>{{weather.windSpeed.value}} {{weather.windSpeed.unit}}</span>
      </div>
    </div>
  </div>
</div>
